body,
main,
header {
  background-color: #000000;
}

.section {
  height: 100vh;
  /* Make each section full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s ease-out, color 3s ease-out;
  position: relative;
  gap: 40px;
}

.nav-link {
  opacity: 50%;
}

.nav-link.current-page {
  opacity: 1;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 880px;
  height: 100%;
}

.hbox {
  display: flex;
  max-width: fit-content;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
}

.body-text {
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 120% */
}

.body-Copy-Title {
  color: white;
}


.sidebar-text p {
  color: #E2725B;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 190px;
  /* 120% */
}

.text-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 0.6s ease-out;
  flex-wrap: wrap;
}

.text-container.fadein-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease-in-out, transform 0.5s ease; /* Adjust the duration as needed */
}

header.sticky-header {
  position: fixed;
  /* Fix the header position */
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  transition: color 0.5s ease-out;
  /* Added transition for smooth color change */
}

.focus {
  transition: color .5s ease-in-out;
  transition-delay: 1s;
  /* Added delay */
}

.highlight {
  color: #E2725B;
}



@media (max-width: 1299px) {
  #filler {
    display: none;
  }
}

@media (max-width: 768px) {
  .body-text {
    font-size: 20px;
    line-height: 24px;
  }
  .hbox {
    gap: 20px;
  }
  .body-Copy-title{
    font-size: 18px;
  }
  .icon{
    width: 75%;
  }
  .sidebar-text{
    margin-top: -300px;
  }  
  .sidebar-text p{
max-width: unset;
  }

}