main,header{
    background: #EFEDE4;
}
p {
    max-width: 880px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 100px;
}
#our-approach object{
    padding-top: 150px;
    margin: auto;
    width: 100%;
}
#our-structure{
    background-color:#84E6B2;
    width: 100%;
    color: #004B22;
}
#our-structure .top-border{
    border-top: 1px solid #004B22;
    font-size: 32px;
    margin-bottom: 10px;
}
#top-border{
    width: 100%;
    border-top: 1px solid #BB3216;
}
