main{
    padding-bottom: 100px;
}
.main-section ul {
    counter-reset: list-counter; 
    margin-left: -90px;
}

.main-section ul li {
    list-style: none;
    counter-increment: list-counter;
    padding-left: 2.1em;
    text-indent: -2.1em;
}

.main-section ul li::before {
    content: counter(list-counter, decimal-leading-zero) ". ";
    margin-right: 0.5em;
    display: inline-block;
    width: 2em;
    text-indent: 0;
    color: #BB3216;
    font-family: NeuzeitGroT;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 190% */
}

.case-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.hero-text {
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
}
.hero-text p{
    color: #494241;
    font-family: NeuzeitGroT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}
.hero-text .title{
    color: #BB3216;
    font-weight: 700;
}

.hero-text .column{
    color: #3C3C3C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    min-width: 150px;
    padding: 0 20px;
}
.hero-text .list p {
    column-count: 2;
    column-gap: 20px;
    column-width: 100px;
}
.hero-text .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.hero-text .text-container {
    padding: 20px 0;
}
.hero-text .content .focus-number{
    color: #BB3216;
    font-family: NeuzeitGroT;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}
#title-text{
    max-width: 880px;
    width: 100%;
}

.hero-text .column:first-child p{
    padding-bottom:50px;
}
.hero-text .column:nth-child(1){
    max-width: 210px;
    flex: 1;
}
.hero-text .column:nth-child(2){
    max-width: 460px;
    flex: 2;
}
.hero-text .column:nth-child(3),
.hero-text .column:nth-child(4),
.hero-text .column:nth-child(5){
    max-width: 230px;
    flex: 1;
}

.hero-text .column:nth-child(1) ,
.hero-text .column:nth-child(2) ,
.hero-text .column:nth-child(3) ,
.hero-text .column:nth-child(4){
    border-right: #BB3216 solid 1px;
}

.download-button {
    padding-top: 50px;
}

.download-button button{
    display: flex;
    max-width: 134px;
    height: 34px;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 26px;
    border: unset;
    background: white;
}
.download-button button:hover{
    background: #BB3216;
    color: white;
}
.download-button{
    text-decoration: none;
}
.section-subtitle{
    color: #BB3216;
    font-family: NeuzeitGroT;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.48px;
}

.body-Copy{
    color: black;
    font-family: "Source Serif Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 158.333% */
    margin-top: 0px;
}

/*Case Study Content*/
.main-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-section .content {
    margin: 0 auto;
    display: flex;
}
.not-aligned{
    margin: unset;
}
.main-section #title{
    color: black;
    font-family: NeuzeitGroT;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
}
.main-section #title p{
    color: black;
    font-family: NeuzeitGroT;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 127.778% */
}
.main-section p, .main-section ul{
    max-width: 880px;
}

.main-section .full-width-image img {
    width: 100%;
    height: auto;
    display: block;
}
.single-column, .double-image{
    margin: 0 auto;
}


/* Two Column Section */
.two-column {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.two-column .column {
    flex: 1;
    box-sizing: border-box;
    flex: 1;
    margin: unset;
}
.sidebar{
    padding-bottom: 20px;
}
.two-column .sidebar {
    flex: 1;
    max-width: 190px;
    min-width: 190px;
}
.two-column .sidebar p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
    margin-bottom: unset;
}
.two-column .sidebar img{
    width: 90%;
}
.karot-container{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}
.two-column .sidebar .karot-container img{
    width: unset;
}
#full-width, #half-width{
    display: flex;
    flex-wrap: wrap;
}
#full-width img{
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}

#half-width img{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    flex: 1;
    width: 100%;
}

.single-column, .two-column{
    padding:75px 0;
}

.example-image-container .content{
    padding:215px 115px;
}

.example-image-container p{
    color: #BB3216;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 158.333% */
}
#interview .content{
    flex-direction: column;
}
#interview .sidebar{
    margin-top: 20px;
    border-top: white solid 1px;
}
#interview .section-header{
    color: white;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.quote {
    position: relative;
    padding: 20px;
}

.open-quote {
    position: absolute;
    top: -10px;
    left: -10px;
}

.close-quote {
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.quote p {
    margin: 20px;
}
.quote p{
    color: #BB3216;
    font-family: "Source Serif Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 127.778% */
}
.quote strong{
    color: #BB3216;
    font-family: "Source Serif Pro";
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 68px; /* 106.25% */
}
.side-note{
    opacity: 0.6;
    color: #BBC0B6;
    font-family: Akkurat-Bold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.double-image .image-container{
    flex: 1;
    min-width: 350px;
}
.double-image .image-container img{
    padding-bottom: 20px;
}
.double-image p{
    color: #BB3216;
    font-family: NeuzeitGroT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.42px;
}
.media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 880px;
    flex: 1;
}
.media .side-note{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
}
.media .right-side{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1;
}
.right-side a{
    margin: auto 0 0 0;
}

.profile{
    margin-top: 580px;
}
.profile p{
    color: #BBC0B6;
}

.open-quote{
    margin: 0 0 auto 0
}
.close-quote{
    margin: auto 0 0 auto;
}
.intro-text h1{
    font-weight: 700;
    line-height: 30px; 
}
.intro-text p{
    font-weight: 400;
    line-height: 46px; 
}
.two-column .sidebar p{
    color: #BB3216;
}


.vbox {
    display: flex;
    flex-flow: column;
    gap: 40px;
}
.hbox {
    display: flex;
    max-width: fit-content;
    flex-flow: row;
    gap: 40px;
}
.vbox > img {
    width: 100%;
    height: fit-content;
}
.hbox > img {
    width: 100%;
    height: fit-content;
}


@media only screen and (max-width: 768px) {
    body,
    header {
        background: #EFEDE4;
        font-family: NeuzeitGroT;
    }
    footer {
        background: white;
    }
    .intro-text {
        padding-top: 50px;
    }
    #focus-text {
        color: #BB3216;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
    }
    .intro-text h1 {
        font-weight: 700;
        line-height: 24px;
    }
    .intro-text p {
        font-weight: 400;
        line-height: 36px;
    }
    .open-quote, .close-quote{
        width: 15%;
    }
    #quote .sidebar{
        order: 2;
    }
    .example-image-container .content {
        padding: 40px 10px;
    }
    #interview .sidebar{
        display: none;
    }
    #interview .content{
        border-top: white solid 1px;
    }
    .two-column{
        flex-wrap: wrap;
    }
    .single-column, .two-column {
        padding: 20px 0;
    }
}
.two-column img {
    height: auto;
    display: block;
}