main {
    background: #84E6B2;
}

header {
    background: #84E6B2;
}

p {
    max-width: 880px;
    margin: 0 auto;
}

header nav a {
    color: black;
}
.body-copy{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.body-copy a{
    color: #000;
}
.body-Copy-Title{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
}
.center-text img{
    padding: 20px 0;
}
 .contactContainers > div {
    display: none;
}
.contactContainers > div.active {
    display: block;
}
.button-container {
    margin-top:40px;
    text-align: center;
    margin-bottom:10px;
}

button.btn{
  background-color:white;
  border-radius:4px;
  font-family: NeuzeitGroT;
  font-weight: 700;
  font-size: 18px;
  color:#307C54;
  padding:10px 20px 10px 20px;
  margin:10px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
button.btn.inactive{
  background-color:#bed;
  color:#7a9586;
}
button.btn:hover, button.btn.inactive:hover{
  background-color:#307C54;
  color:white;
  box-shadow: 0px 12px 15px rgba(46, 229, 157, 0.4);
  transform: translateY(-5px);
}


@media (max-width: 768px) {
    .body-copy, .body-copy a{
        font-size: 28px;
        line-height: 32px;

    }
    #center-text{
        padding: 50px 20px;
        width: unset;
    }
}

