body, main, header {
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.section {
  height: 100vh; /* Make each section full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
  position: relative;
}
.nav-link{
  opacity: 50%;
}

.nav-link.current-page{
  opacity: 1;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 880px;
}
.hbox {
  display: flex;
  max-width: fit-content;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 40px;
}
.body-text{
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}

.text-container {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.text-container.fadein-visible {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1.5s ease-in-out, transform 0.5s ease; /* Adjust the duration as needed */
}

header.sticky-header {
  position: fixed; /* Fix the header position */
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-out;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  transition: color 0.5s ease-out; /* Added transition for smooth color change */
}


#services{
  padding: 100px 0;
}
#top-border{
  width: 100%;
  border-top: 1px solid black;
}

#services .container {
  display: flex;
  flex-wrap: wrap;
}
#services .column {
  flex: 1 1 calc(33.33% - 20px); /* Adjusted for three columns with spacing */
  min-width: 452px;
  margin-top: 90px;
  border-top: 1px solid black;
}
#services .column li{
  color: black;
  font-family: NeuzeitGroT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: -0.165px;
  border-bottom:1px solid black;
}
#services .column h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}
#services .column ul {
  list-style-type: none;
  padding: 0;
}
#services .column ul li {
  margin: 5px 0;
}
#services{
  background-color: #F5C445;
}
.dropdown a {
  color: black;
}

@media (max-width: 450px) {
  #services .column {
    min-width: 250px;
  }
}
@media (max-width: 1194px) {
  #filler {
    display: none;
  }
}

@media (max-width: 768px) {
  .section {
    height: 120vh; /* Make each section full viewport height */
  }
  .body-text {
    font-size: 20px;
    line-height: 24px;
  }
  .hbox {
    gap: 20px;
  }
  .body-Copy-title{
    font-size: 18px;
  }
  .icon{
    width: 75%;
  }

}
