:root {
    --fadein-duration: .5s;
    --fadein-delay: .1s;
  }
main,header{
    background: #EFEDE4;
}
p {
    max-width: 880px;
}

  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .text-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity var(--fadein-duration) ease-out, transform var(--fadein-duration) ease-out;
    animation-delay: var(--fadein-delay);
    padding: 40px 0;
  }
  
  .text-container.fadein-visible {
    animation: fadeInUp var(--fadein-duration) ease-out forwards;
  }

  .body-text{
    color: var(--Secondary-Black, #000);
    font-family: NeuzeitGroT;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
  }
  .body-Copy-Title{
    color: var(--Secondary-Black, #000);
    font-family: NeuzeitGroT;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
  }
  .text-container a{
    color: #BB3216;

  }

  
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding: 40px 0;
}

#services{
    padding: 100px 0;
}
#top-border{
    width: 100%;
    border-top: 1px solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 1;
    min-width: 300px;
    max-width: 360px;
    margin-top: 90px;
    border-top: 1px solid black;
}
.column li{
    color: black;
    font-family: NeuzeitGroT;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    letter-spacing: -0.165px;
    border-bottom:1px solid black;
}
.column h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
}
.column ul {
    list-style-type: none;
    padding: 0;
}
.column ul li {
    margin: 5px 0;
}
#services{
    background-color: #F5C445;
}


.text-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.text-container.fadein-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1299px) {
  #filler{
      display: none;
  }
  .body-text{
      font-size: 28px;
      line-height: 36px;
  }
}