body,main,header{
	background: #151515;
	font-family: NeuzeitGroT;
	
}
nav a {
	color: white;
}

.container {
	 
	  width: 100%;
	  margin: 0 auto;
	  position: relative;
	  overflow: hidden;
	  background-image: url('/images/observatory/topBG.png');
	  background-size: cover;
	  background-position: center;
	  margin-bottom:40px;
	  border-collapse: collapse;
	  border-radius: 20px;
  }
  
  .header {
	  color:#fff;
	  text-align: center;
	  padding: 30px 0px;
  }
  
  .header h1 {
	  font-size: 80px;
	  font-weight: 700;
	  margin-bottom: 10px;
	  letter-spacing: 1px;
  }
  
  .header h2 {
	  font-size: 40px;
	  font-weight: 400;
	  margin-top: 0;
  }
  
  .image-wrapper {
	  width: 84%; 
	  margin: 0 auto;
	  position: relative;
	  overflow: hidden;
  }
  
  .masked-image {
	  width: 100%;
	  height: auto;
	  display: block;
	  margin-bottom: -10px; /* Creates the mask effect */
  }
  #intro{
	 width:100%;
	 
  }

  #intro p.redIntro{
	 
	  	width:78%;
		color:#E2725B;
	    font-size: 36px;
		line-height: 52px;
	    font-weight: 400;
		
		letter-spacing: -2%;
		margin: 40px auto;
  }
  
  #intro p:not(.redIntro){
		color:#fff;
		width:78%;
		padding-right:15%;
		box-sizing: border-box;
		font-size: 28px;
		line-height: 40px;
		margin: 40px auto;
	}

.ben-box h2{
	font-size:48px;
	font-weight:400;
	color:#fff;
	margin:0 0 40px 0;
	
	
}
.ben-box{
	padding:40px 0;
	width:78%;
	margin: 40px auto;
	box-sizing: border-box;
}
.benefitContainer{
	display: flex;
	flex-wrap: wrap;
	gap:40px;
}
.benefitContainer div{
	border-top: 1px solid #E2725B;
	
	flex: 0 0 30%; /* 3 equal columns with gap compensation */
	
	box-sizing: border-box;
}
.benefitContainer h3{
	color:#E2725B;
	font-size:24px;
}
.benefitContainer div p{
	color:#E2725B;
	font-size: 18px;
	line-height:28px;
}
 #teams{
	 padding:0 0 40px 0;
 }
#teams  h2{
	font-size:64px;
	text-align:center;
	color:#fff;
}
.teams-box{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap:40px;
}
.gridBox{
	border: 1px solid #444444;
	border-radius:16px;
	height:535px;
	position: relative;
	  border-radius: 10px;
	  overflow: hidden;
	  color: white;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	  z-index: 0;
	
}
.gridBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#343434;
  background-image: url('/images/halcyon-cover.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
  filter:grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.gridBox:hover::before{
  filter:grayscale(0%);
  
}

.gridBox::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  z-index:2;
}
.gridBox>div{
	padding: 25px;
	  z-index: 3;
	  position: relative;
	  text-align:center;
}
.gridBox h3{
	text-transform: uppercase;
}
.gridBox p{
	color:#fff;
	font-size:18px;
	line-height:28px;
}
  footer {
	  background-color: #000;
  }
  @media (max-width: 768px) {
	  .header h1 {
		  font-size: 36px;
	  }
	  
	  .header h2 {
		  font-size: 18px;
	  }
	  
	  .masked-image {
		  margin-bottom: -50px;
	  }
  }