:root {
    --fadein-duration: .5s;
    --fadein-delay: .1s;
  }
main,header{
    background: #EFEDE4;
}
p {
    max-width: 880px;
}
.body-Copy-Title p{
    color: #BB3216;
}
#top-border{
    border-top: 1px solid #BB3216;
    width: 100%;
}
section{
    padding: 50px 0;
}
#focus-text li{
    color:  #BB3216;
    font-family: NeuzeitGroT;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    text-indent: -1.6em;
    border-top: 1px solid #BB3216;
}

#focus-text li::before {
    border-top: 1px solid #BB3216;
    padding-top: 8px;
    margin-top: -1px;
}