
@font-face {
    font-family: 'NeuzeitGroT';
    src: url('../fonts/NeuzeitGroT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeitGroT';
    src: url('../fonts/NeuzeitGroT_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'NeuzeitGroT', sans-serif;
    margin: 0px;
}

.content-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 50px;
}

.sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 140px;
    z-index: 10;
}

.header-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.menu {
    display: flex;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
}

nav a:hover {
    color: #FFD700;
}

.dropdown {
    display: none;
    position: relative;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;  /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 80%;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFD700;
}

footer{
    height: 1000px;
    background-color: white;

}
.upper-footer{
    height: 25%;
    background: #EFEDE4;
}
.lower-footer{
    background-color: white;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* Mobile Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .dropdown {
        display: block;
    }
    body{
        padding: 0px 20px;
}
}

#hero{
    width: 100%;
    padding-bottom: 20px;
    border-top: unset;
}
#hero p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

.hero-container{
    max-width: 650px;
}

.section-subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    padding-bottom:10px;
    width: 100%;
}
