main,header{
    background: #EFEDE4;
    font-family: NeuzeitGroT;
}
footer{
    background: white;
}
.intro-text{
    padding-top: 100px;
}
#logos{
    gap:unset
}
#logos .flex-item{
    align-content: center;
    border-left: 1px solid #BB3216;
}
#logos .border-right{
    border-right: 1px solid #BB3216;
}

#logos .flex-item img{
    margin: 0 auto;
    display: flex;
}
#logos .flex-item{
    min-width: none;
    max-width: none;
}

@media screen and (max-width: 768px) {
    .wrap-on-mobile {
        flex-flow: wrap;
    }
    .vbox {
        gap: 20px;
    }
    .hbox {
        gap: 20px;
    }
    #logos .flex-item{
        border-left: none;
    }
    #logos .border-right{
        border-right: none;
    }
    #logos{
        gap:100px;
    }
    
}