* p{
    font-family: "Source Serif Pro";
}
main,header{
    background: #EFEDE4;
}
footer{
    background: white;
}
.intro-text{
    padding-top: 100px;
}
.sidebar{
    max-width: 190px;
}
.two-column .sidebar{
     max-width: 190px;

}
.two-column .content{
    max-width: 880px;
}