main,header{
    background: #EFEDE4;
    font-family: NeuzeitGroT;
}
footer{
    background: white;
}

.hero-text .column:nth-child(3),
.hero-text .column:nth-child(4){
    max-width: unset;
    flex: 1;
}
.hero-text .column:nth-child(2){
    max-width: 400px;
}
.hero-text .subtitle{
    color: #BB3216;
    font-family: NeuzeitGroT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */}
.intro-text{
    padding-top: 100px;
}
#top-bottom-border{
    border-top: 1px solid #bb3216;
    border-bottom: 1px solid #bb3216;
}
.hero-text .subtitle{
    margin-bottom: 0px;
}
.sidebar{max-width: 190px;}
.vbox, .hbox{
    gap: 20px;
}