main,header{
    background: #EFEDE4;
    font-family: NeuzeitGroT;
}
footer{
    background: white;
}
.intro-text{
    padding-top: 100px;
}
#top-bottom-border{
    border-top: 1px solid #bb3216;
    border-bottom: 1px solid #bb3216;

}
.sidebar{max-width: 190px;}
.vbox, .hbox{
    gap: 20px;
}